# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
imvenv/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.DS_Store

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
